{% extends "base.html" %}

{% block body %}
<div class = "container">
  <div class = "col-xs-6">
    <div class = "clo">
      <div>hello, jenny</div>
      <div>hello, eddie</div>
    </div>
  </div>
  <div class = "col-xs-6">
      {% for article in article_list %}
        <div>
          {{ article.title }}
          <span class="label label-default"> {{ article.view_count }} </span>
        </div>
      {% endfor %}
    </div>
    <div class = "col-xs-12">
      <i class="fas fa-stop"></i>
      </div>
        <div class = "col-xs-12">
      <i class="fas fa-play"></i>
      </div>
  </div>
{% endblock %}
